{% extends "lbrc/page.html" %}
{% from "lbrc/nav_macros.html" import render_user_menu with context %}

{% block page_content %}
  <nav class="main_menu">
    <div class="container">
      <menu>
        <li><a href="{{url_for('ui.index')}}" icon="icon home">Specimens</a></li>
        <li><a href="{{url_for('ui.uploads_index')}}" icon="icon home">Uploads</a></li>
      </menu>
      <menu>
        {% if current_user.is_admin %}
          <li>
            <a>Admin</a>
            <menu>
              <li><a href="{{url_for('admin.index')}}">Maintenance</a></li>
            </menu>
          </li>
          {% endif %}
          {{ render_user_menu() }}
        </menu>
    </div>
  </nav>

  {% block menu_page_content %}{% endblock %}

{% endblock %}
